.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-box input {
  margin-right: 10px;
  padding: 8px 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 500px;
  background-color: #f9f9f9;
}


.search{
  display: flex;
  gap: 50px;
}

.icon {
  align-items: center;
  justify-content: center;
}

.header-actions {
  padding-right: 3%;
  display: flex;
  align-items: center;
  gap: 15px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.sidebar-title{
  padding-left: 25px;
  color:#23deff ;
}

.accent{
  color: black;
}

.add-btn {
  border: none;
  background-color: #413ca0;
  color: white;
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
}
